<template>
  <div class="chatApp">
    <div class="container clearfix">
      <div class="people-list" id="people-list">
        <div class="search">
          <input type="text" placeholder="search" />
          <i class="fa fa-search"></i>
        </div>
        <ul class="list" style="list-style: none;">
          <li class="clearfix">
            <img
              src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg"
              alt="avatar"
            />
            <div class="about">
              <div class="name">Vincent Porter</div>
              <div class="status">
                <i class="fa fa-circle online"></i> online
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="chat">
        <div class="chat-header clearfix">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg"
            alt="avatar"
          />

          <div class="chat-about">
            <div class="chat-with">Chat with Vincent Porter</div>
            <div class="chat-num-messages">already 1 902 messages</div>
          </div>
          <i class="fa fa-star"></i>
        </div>
        <!-- end chat-header -->

        <div class="chat-history">
          <ul style="list-style: none;">
            <li class="clearfix">
              <div class="message-data align-right">
                <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
                <span class="message-data-name">Olia</span>
                <i class="fa fa-circle me"></i>
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg"
                  alt="avatar"
                />
              </div>
              <div
                class="message other-message float-right"
              >Hi Vincent, how are you? How is the project coming along?</div>
            </li>
            <li>
              <div class="message-data">
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg"
                  alt="avatar"
                />
                <span class="message-data-name">
                  <i class="fa fa-circle online"></i> Vincent
                </span>
                <span class="message-data-time">10:12 AM, Today</span>
              </div>
              <div
                class="message my-message"
              >Are we meeting today? Project has been already finished and I have results to show you.</div>
            </li>
            <li class="clearfix">
              <div class="message-data align-right">
                <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
                <span class="message-data-name">Olia</span>
                <i class="fa fa-circle me"></i>
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg"
                  alt="avatar"
                />
              </div>
              <div
                class="message other-message float-right"
              >Hi Vincent, how are you? How is the project coming along?</div>
            </li>
            <li>
              <div class="message-data">
                <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg"
                  alt="avatar"
                />
                <span class="message-data-name">
                  <i class="fa fa-circle online"></i> Vincent
                </span>
                <span class="message-data-time">10:12 AM, Today</span>
              </div>
              <div
                class="message my-message"
              >Are we meeting today? Project has been already finished and I have results to show you.</div>
            </li>
          </ul>
        </div>
        <!-- end chat-history -->

        <div class="chat-message clearfix">
          <textarea
            v-model="message"
            name="message-to-send"
            id="message-to-send"
            placeholder="Type your message"
            rows="3"
          ></textarea>

          <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
          <i class="fa fa-file-image-o"></i>
          <el-button @click="sendHello">Send!</el-button>
        </div>
        <!-- end chat-message -->
      </div>
      <!-- end chat -->
    </div>
    <!-- end container -->
  </div>
</template>
<script>
const topicName = "user:1";
export default {
  data() {
    return {
      time: "",
      response: "",
      messages: [],
      message: "Hello from about page!"
    };
  },
  mounted() {
    console.log("chat-app mounted");
    this.$ws.$on(`${topicName}|ABOUT_MESSAGE`, this.handleAboutMessageEvent);
    this.$ws.$on("ABOUT_MESSAGE", this.handleAboutMessageEvent);
  },
  beforeDestroy() {
    this.$ws.$off(`${topicName}|ABOUT_MESSAGE`, this.handleAboutMessageEvent);
    this.$ws.$off("ABOUT_MESSAGE", this.handleAboutMessageEvent);
  },
  methods: {
    handleAboutMessageEvent(data) {
      this.messages = [...this.messages, data.message];
      console.log(this.messages);
      this.$notify({
        title: "handled in src/views/About.vue 1",
        message: data.message
      });
    },
    sendHello() {
      this.$ws.$emitToServer(topicName, "hello", { message: this.message });
    }
  }
};
</script>

<style scoped src="@/assets/style-chat.css">
</style>